input:focus {
    outline: none;
}

input {
    color: #fff;
}

body {
    font-family: 'iran';
    background: linear-gradient(45deg, #045354, #001414);
    /* background: linear-gradient(180deg, #0f0c29, #302b63, #24243e); */
}

@font-face {
    font-family: 'iran';
    src: url(font/Iransanss.ttf);
}

@font-face {
    font-family: "iransans";
    src: url(font/IRANSansWeb_FaNum_Light.ttf);
}

@font-face {
    font-family: "iransans-web";
    src: url(font/iransansdnweb.ttf);
}

@font-face {
    font-family: "iran";
    src: url(font/Iransanss.ttf);
}

body {
    font-family: "iran" !important;
    /* background-image: linear-gradient(70deg, #045354, #001414); */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img.jpg);
    background-size: cover;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
    width: 300px;
    height: auto;
    margin: auto;
    z-index: 999;
}


/* @media only screen and (max-width:415px) {
    .box {
        width: 100% !important;
    }
    .circle-01 {
        position: absolute;
        top: -32px !important;
        left: 0px !important;
        width: 90px !important;
        z-index: 999;
        height: 90px !important;
    }
    .circle-02 {
        position: absolute;
        right: 1px !important;
    }
} */


/* @media only screen and (max-width:1115px) {
    .box {
        max-width: 30% !important;
    }
}

@media only screen and (max-width:850px) {
    .box {
        max-width: 35% !important;
    }
}

@media only screen and (max-width:768px) {
    .box {
        max-width: 40% !important;
    }
}

@media only screen and (max-width:670px) {
    .box {
        max-width: 44% !important;
    }
}

@media only screen and (max-width:556px) {
    .box {
        max-width: 49% !important;
    }
}

@media only screen and (max-width:500px) {
    .box {
        max-width: 60% !important;
    }
}

@media only screen and (max-width:400px) {
    .box {
        max-width: 70% !important;
    }
}

@media only screen and (max-width:350px) {
    .box {
        max-width: 100% !important;
    }
    .circle-01 {
        position: absolute;
        top: -32px !important;
        left: 0px !important;
        width: 90px !important;
        z-index: 999;
        height: 90px !important;
    }
    .circle-02 {
        position: absolute;
        right: 1px !important;
    }
} */

.circle-01 {
    position: absolute;
    top: -25px;
    left: -55px;
    width: 100px;
    z-index: 999;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #ffd800, #ff5520);
}

.circle-02 {
    position: absolute;
    bottom: -25px;
    right: -55px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #0cbcf2, #750cf2);
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;
    width: 100%;
    padding: 30px 20px;
    border: solid 1px rgba(255, 255, 255, 0.546);
    border-radius: 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .1), -4px -4px 10px rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, 0.328);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.far {
    cursor: pointer;
    position: absolute;
    opacity: 40%;
    margin-left: -30px;
    margin-top: 13px;
    /* top: 20px; */
}

.fa-user-pen,
.fa-trash {
    color: #898e9a;
}